@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: #155dfc;
  --text-primary-light: #dbeafe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 2rem;
}

/* btns */
.btn {
  padding: 0.3rem 1rem;
  border-radius: 12px;
}
.btn-primary {
  background-color: var(--text-primary);
  color: white;
  cursor: pointer;
}
/* typography */
.page-header {
  background-color: var(--text-primary-light);
  color: var(--text-primary);
  padding: 0.3rem 1rem;
  border-radius: 12px;
  font-weight: bold;
}
